/* 2021-06-20
  Chinese font for Diaries
  Kaiti font file takes up 12.7MB of space, which is a lot. In case the website traffic increases,
  I need to refactor the code so as not to take up a lot of bandwidth.
*/

@media screen and (min-width: 576px) {  /* only show advanced fonts on large screens */

    @font-face {
        font-family: 'Kai';
        src: url('../file/font/stkaiti.ttf'); /* IE9 Compat Modes */
    }

    @font-face {
        font-family: 'TNR';
        src: url('../file/font/times.ttf');
    }

    /* font is times new roman by default, then Kaiti; used for Chinese Diaries
       The reason I used "font-family: serif" in English Diaries is that
       the following style goes wrong when bolding/italicizing the TNR text.
     */
    body {
        font-family: 'TNR', 'Kai', serif;
    }

}


/* 2021-08-04
  styles for pyq
*/

.pyq-img {
    max-width: 100%;
    height: auto;
}

img.pyq-logo {
    padding: 4px;
    margin: 0 16px;
    width: 47px;
    height: 47px;
}

.pyq-title {
    display: flex;
    justify-content: center;
}

.pyq-curyear {
    font-size: 39px;
}

.pyq-toyear {
    padding-top: 10px;
}

p.pyq-toyear {  /* inside <p>, not <a>, meaning this year's annual moment doesn't exist */
    color: #999;
}
