body {
    font-size: 3.7vmin;
}

/* h1 tag: Diary titles, like D5p84 */
/* h2 tag: Diary subtitles, like "Trip to Beijing" */
/* h3 tag: Diary section headers in entries that are divided into "parts", like "【Part 2】Road to workforce" */
/* h4 tag: Statistical Period titles in d5/index.html, like 2019 Spring */

h1 {
    font-size: 4.9vmin;  /* vmin: 1vw/1vh = 1% of viewport width/height; 1vmin = 1vw or 1vh, whichever is smaller */
    margin: 2.9vmin 0 4.9vmin 0;
}

h4 {
    font-size: 3.9vmin;
    margin: 2.9vmin 0;
}

h2, h3 {
    color: #766;
    font-size: 3.6vmin;
    margin: 2.9vmin 0;
}

h2 {
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

h5 {
    text-align: center;
}

p.categ, li {
    font-size: 19px;
    line-height: 22px;
}

ul {
    padding-left: 1rem;
}

p {
    line-height: 4.4vmin;   /* within paragraph */
    margin-bottom: 2.7vmin; /* between paragraphs */
}

p:target, h1:target, h3:target, h4:target {
    /* this is to offset the anchor location; https://stackoverflow.com/questions/4086107 */
    padding-top: 79px;
    margin-top: -79px;
}

span {
    color: #d4c9c9;  /* color of the paragraph marker */
}

#rdf {
    margin-bottom: 57vh;  /* margin at the bottom of page */
}

th, td {
    text-align: center;
    font-size: 3.2vmin;
    height: 67%;
}
