@font-face {
    font-family: 'Kaiti';
    src: url('../file/font/STKAITI.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'TNR';
    src: url('../file/font/times.ttf'); /* IE9 Compat Modes */
}

body {
    /*font-family: 'Noto Serif SC', serif;*/
    font-family: 'TNR', 'Kaiti', sans-serif;
    font-size: 3.7vmin;
}

p {
    line-height: 4.7vmin;;   /* within paragraph */
    margin-bottom: 2.4vmin;; /* between paragraphs */
}


