@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media screen and (max-width: 576px) {
    /* decrease font size for mobile screen */
    body {
        font-size: 89%;
    }
}

body {
    font-family: 'Merriweather', serif;
}

img {
    width: 100%;
    height: auto;
}

code {
    color: #540939;
}

h1 {
    text-align: center;
    color: #049;
}

h3 {
    color: #037;
}

h4 {
    color: #025;
}

/* code {
    color: black;
} */

blockquote {  /* quoted texts for Chinese Diary */
  color: #789;
  padding-left: 14px;
  border-left: .29em solid #ccd
}

p.subtitle {
    font-style: italic;
    padding-top: 7px;
    color: #999;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

.meta_ {
    color: #79c;
}

.anchr {
    color: #9bf;
    text-decoration: none;
    float: right;
}

.bck_ {
    color: #096909;
    font-size: 15px;
}

.anchr:hover {
    color: #79e;
}

.bg_ {
    opacity: 79%;
    box-shadow: 7px 7px 19px gray;
}