@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Merriweather', serif;
    /*font-size: 96%;*/
}

img {
    width: 100%;
    height: auto;
}

code {
    color: #540939;
}

h1 {
    text-align: center;
    color: #049;
}

h3 {
    color: #037;
}

h4 {
    color: #025;
}

/* code {
    color: black;
} */

blockquote {  /* quoted texts for Chinese Diary */
  color: #789;
  padding-left: 14px;
  border-left: .29em solid #ccd
}

p.subtitle {
    font-style: italic;
    padding-top: 7px;
    color: #999;
    font-size: 14px;
    text-align: center;
}

.meta_ {
    color: #79c;
}

.bg_ {
    opacity: 79%;
    box-shadow: 7px 7px 19px gray;
}
