/* background color/image */

/*body.pic {*/
/*  background-image: url("../file/bg/mission-peak.png");*/
/*  background-size: cover;*/
/*}*/

body.cold-theme {
  background: #ebf9ff;
}

body.warm-theme {
  background: #ffedd9;
}


/* ========================================================== */
/* --- extra styles for navigation bar transition effects --- */
/* Adapted from: https://codepen.io/maheshambure21/pen/QwXaRw */
/* -- Gradient color schemes are designed by Jazon Jiao -- */

#jazon-logo {
  max-width: 159px;
}

nav.cold-theme {
  background-image: linear-gradient(#B9E9FF, #99d9ff);
  color: #333333;
}

nav.warm-theme {
  /*background: #323;*/
  background-image: linear-gradient(#FFd9bc, #ffc999);
  color: #333333;
}

.navbar {
  margin-bottom: 67px;
}

.nav-link {
  position: relative;
  text-align: center;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: '.';
  color: transparent;
  background: #66f;
  height: 3px;
}

.nav-link, .nav-link:after, .nav-link:before {
  transition: all .5s;
}

.nav-link:hover:after {
  width: 37px;
}

.nav-item {  /* space each item further apart */
  margin-right: 19px;
}

/* ================================ */
/* --- styles for personal card --- */

#jazon-box {
  background: #F9F9FF;
  box-shadow: 4px 4px 9px -3px #4f4f4f;
  border-radius: 12px;  /* rounded corners */
  margin: 9px;
  padding: 9px;
}

#jazon-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  max-width: 179px;
  border: 1px solid #bbb;
  padding: 3px;
  background: #fff;
}

.jazon-name {
  font-size: 47px;
  font-family: 'Dancing Script', 'Zhi Mang Xing', cursive;
  text-align: center;
}

#jazon-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#jazon-social li {
  font-size: 24px;
  width: 39px;
  height: 39px;
  margin: 4px;
}

#jazon-social li:hover {  /* animation effects when hovering over social media icons */
  transition: margin-top 0.2s;
  margin-top: 2px;
}

/* ================================ */
/* --- Style for Resume buttons --- */
/* -- Gradient color schemes are designed by Jazon Jiao -- */

.btn-light {
  background-image: linear-gradient(to bottom left, #b9e9ff, #99cfff);
  border: 1px solid deepskyblue;
  box-shadow: 2px 2px 5px -3px #4f4f4f;
}

.btn-light:hover {
  border: 1px solid royalblue;
}

/* ====================== */
/* --- Style for icon --- */

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
  z-index: 1;  /* layer icon element on the top (over the timeline blue line) */
}

/* ========================== */
/* --- Style for timeline --- */
/* (yes, this is a sh*t ton of hacking to make it work...) */
/* I later realized I could've used ::before to position the school/company icons */

#tmln {
  position: relative;
  left: -41px;
  border-left: 4px solid #49f;
  padding-left: 41px;
}

.tl-item {
  margin-top: 47px;
}

.tl-logo {
  box-shadow: 2px 2px 5px -3px #4f4f4f;
  border: 2px solid #49f;
  padding: 0;
  border-radius: 12px;
  width: 45px;
  height: 45px;
  position: relative;
  left: -65px;  /* let's position it out of the parent's original boundary... lol */
}

/* header (institution name) */
#tmln h5, h6 {
  display: inline-flex;
  position: relative;
  left: -50px;
  margin-bottom: 14px;
}

/* duration (start/end dates) */
p.dur {
  font-style: italic;
  font-size: 14px;
  color: #3979c9;
  margin-bottom: 9px;
}

/* duration (start/end dates) */
span.o47 {
  font-style: normal;
  opacity: 47%;
}

.tl-view:link {
  background-image: linear-gradient(to bottom left, #b9e9ff, #99cfff);
  border: 1px solid deepskyblue;
  border-radius: .25rem;
  font-size: 13px;
  text-decoration: none;
  padding: 2px 7px;
  text-align: center;
  display: inline-block;
  margin-bottom: 9px;
}

.tl-card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #c9e9ff;
  background-clip: border-box;
  padding: 0.5em 1em;  /* top/bottom, left/right */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 0;
  font-size: 14px;
}




/* ============= */
/* --- other --- */

